CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Build
CMakeSettings.json
.vs
CppProperties.json
.vscode/
*.cbp
*.layout
ThemeParkReader/ThemeParkReader
googletest-*
